<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Verificação </title>
    <link rel="icon" href="../static/icons/capelo-A-1.png" type="image/png">
    <link rel="stylesheet" href="../static/css/novoverificacao.css">
</head>
<body>

    <div class="fundologin">
        <div class="divilogo">
            <img src="../static/img/arco.png" alt="Logo do ARCO" class="logo">
        </div>
        <main class="divimeio">
            <div class="caixabranca">
                <h1>
                    Vamos recuperar sua senha!
                </h1>
                <h2>Enviamos um codigo de verificação <br> para:</h2>
                <p>exemplo@email.com</p>
                <label for="codigoverificacao">Código de verificação</label>
                <input type="text" placeholder="Coloque o código aqui" class="entradacodigo" id="codigoverificacao">

                <div class="linha-reenvio">
                    <p>código não chegou?</p>
                    <a class="esqueci">reenviar código</a>
                </div>

                <div class="botoes">
                <button class="botaovoltar"> VOLTAR </button>
                <button class="botaoentrar"> PROXIMO </button>
                </div>

            </div>
        </main>
        <div class="divibaixo">

        </div>
    </div>
</body>
</html>