
<div class="cabe">
    <link rel="stylesheet" href=".../../static/css/CardHeader.css">
    <header class="cabecalho">
       
        <div class="divEsquerd">
            
            <button id="InicioApoio">
                <img class="logobtns2" src="../static/icons/capelo (1).png" alt="">
                 Inicio 
            </button id="NotificacoesApoio">
                 <img class="logobtns" src="../static/icons/SINO-B.png" alt="">
                 Notificações 
            </button>
            <button id="ConfigApoio>
                <img class="logobtns2" src="../static/icons/ENGRENAGEM-B.png" alt="">
                 Configurações 
            </button>
            <button div="">
                <img class="logobtns" src="../static/icons/doc-B (2).png" alt="">
                 Relatórios
             </button>
            

        </div>

        <div class="divDireit"> 
            <img src="../static/img/arco.png" alt="Logo" class="logo"> 
        </div>
            

        
      
    </header>

    <script src="../static/js/CardHeader.js"></script>
    
</body>

