<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicial Professor</title>
    <link rel="icon" href="/static/icons/capelo-A-1.png" type="image/png">
    <link rel="stylesheet" >
</head>
<body>
    <div class="container">

        {% include "cardheader.html" %}

        <div class="conteudo">
            <div class="titulo">
                <img src="/static/icons/EQP3-P.png" alt="logoturma" class="grupoP">
                <h1>Minhas turmas</h1>
            </div>
            <div class="salas" id="salas">
                <!-- Cards gerados dinamicamente por cardprof.js -->
            </div>
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/auth-guard.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cardprof.js') }}"></script>
</body>
</html>
