<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horários</title>

    <link rel="stylesheet" 
            href="../static/css/horarioprof.css">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" 
            rel="stylesheet">

    <!-- Fonte -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap" 
            rel="stylesheet">

</head>
<body>


<div class="container">

    <!-- MENU LATERAL -->
    <aside class="sidebar">

        <h1>
            <span class="material-icons">calendar_month</span>
            Horários
        </h1>

        <p>Filtrar por:</p>

        <div class="filtro">

            <div class="titulo">
                Turma
                <span class="material-icons">expand_more</span>
            </div>

            <label class="item">
                3 TDS A
                <input type="checkbox">
            </label>

            <label class="item">
                2 MKT B
                <input type="checkbox">
            </label>

            <label class="item">
                1 TDS B
                <input type="checkbox" checked>
            </label>

            <label class="item">
                2 MKT A
                <input type="checkbox">
            </label>

        </div>

        <div class="filtro">

            <div class="titulo">
                Disciplina
                <span class="material-icons">expand_more</span>
            </div>

            <label class="item">
                Matemática
                <input type="checkbox">
            </label>

            <label class="item">
                Física
                <input type="checkbox">
            </label>

        </div>

    </aside>


    <!-- GRADE -->
    <main class="horarios">

        <div class="cabecalho">
            <div></div>
            <div>Segunda</div>
            <div>Terça</div>
            <div>Quarta</div>
            <div>Quinta</div>
            <div>Sexta</div>
        </div>

        <!-- Aula -->

        <div class="linha">

            <div class="hora">Aula 1</div>

            <div class="card azul">
                <span>3º TDS A</span>
                <span>07:30</span>
            </div>

            <div class="card azul">
                <span>3º TDS A</span>
                <span>07:30</span>
            </div>

            <div class="card azul">
                <span>3º TDS A</span>
                <span>07:30</span>
            </div>

            <div class="card azul">
                <span>3º TDS A</span>
                <span>07:30</span>
            </div>

            <div class="card azul">
                <span>3º TDS A</span>
                <span>07:30</span>
            </div>

        </div>

        <div class="linha">

            <div class="hora">Aula 2</div>

            <div class="card azul">
                <span>3º TDS A</span>
                <span>07:30</span>
            </div>

            <div class="card azul">
                <span>3º TDS A</span>
                <span>07:30</span>
            </div>

            <div class="card roxo">
                <span>LIVRE</span>
                <span>07:30</span>
            </div>

            <div class="card azul">
                <span>3º TDS A</span>
                <span>07:30</span>
            </div>

            <div class="card azul">
                <span>3º TDS A</span>
                <span>07:30</span>
            </div>

        </div>

        <div class="intervalo">
            <hr>
            <span>INTERVALO</span>
            <hr>
        </div>

        <div class="linha">

            <div class="hora">Aula 3</div>

            <div class="card azul">
                <span>3º TDS A</span>
                <span>07:30</span>
            </div>

            <div class="card azul">
                <span>3º TDS A</span>
                <span>07:30</span>
            </div>

            <div class="card roxo">
                <span>LIVRE</span>
                <span>07:30</span>
            </div>

            <div class="card azul">
                <span>3º TDS A</span>
                <span>07:30</span>
            </div>

            <div class="card azul">
                <span>3º TDS A</span>
                <span>07:30</span>
            </div>

        </div>

        <div class="linha">

            <div class="hora">Aula 4</div>

            <div class="card verde">
                <span>1 TDS B</span>
                <span>07:30</span>
            </div>

            <div class="card azul">
                <span>3º TDS A</span>
                <span>07:30</span>
            </div>

            <div class="card roxo">
                <span>LIVRE</span>
                <span>07:30</span>
            </div>

            <div class="card azul">
                <span>3º TDS A</span>
                <span>07:30</span>
            </div>

            <div class="card azul">
                <span>3º TDS A</span>
                <span>07:30</span>
            </div>

        </div>

    </main>

</div>

<script src="../static/js/auth-guard.js"></script>
</body>
</html>
