<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login </title>
    <link rel="icon" href="{{ url_for('static', filename='img/capelo.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

    <div class="fundologin">
        <div class="divilogo">
            <img src="{{ url_for('static', filename='img/capelo.png') }}" alt="Logo do ARCO" class="logo">
        </div>
        <main class="divimeio">
            <div class="caixabranca">
                <h1>
                    Bem vindo ao ARCO
                </h1>
                <h2>
                    Realize seu login
                </h2>
                <label for="emaillogin">Email:</label>
                <input type="text" placeholder="Email" class="entradaemail" id="emaillogin">
                <label for="senhalogin">Senha:</label>
                <input type="password" placeholder="Senha" class="entradasenha" id="senhalogin">
                <a class="esqueci" href="../templates/VERIFICAÇÃO.html"> Esqueci a senha </a>
                <button class="botaoentrar"> Entrar </button>
            </div>
        </main>
        <div class="divibaixo">

        </div>
    </div>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
