@face-family Uturna Round, Consolas, monospace;

body{
    background-image: linear-gradient(90deg, #044ceb, #001f64);
}

/* ==========================================================
                    CONTAINER
========================================================== */

.containerkxa{

    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


/* ==========================================================
                        LOGO
========================================================== */

.divlogo{

    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
     margin-bottom: 10px;
}

.logo{

    width: 550px;
    height: 275px;

}


/* ==========================================================
                    CAIXA LOGIN
========================================================== */

.cxB{

    width: 250px;
    height: 350px;
    margin-top: -80px;
    padding: 40px;
    text-align: center;
    background: white;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 80px;
}


/* ==========================================================
                        TEXTOS
========================================================== */

h1{

    margin: -10px;
    font-family: Uturna Round, Consolas, monospace;
    font-size: 20px;
    position: relative;
    top: -12px;

}

.p1{

    margin-top: 3px;
    font-size: 20px;
    position: relative;
    top: 15px;

}


/* ==========================================================
                        CAMPOS
========================================================== */

input{

    width: 98%;
    height: 40px;
    margin: 8px;
    margin-top: 50px;
    padding: 3px;
    border: none;
    border-radius: 5px;
    background: #d2d2d2;

}


/* ==========================================================
                    LINHA DOS BOTÕES
========================================================== */

.botoeslinha{

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;

}


/* ==========================================================
                    BOTÃO ENTRAR
========================================================== */

#btnEntrar{

    width: 140px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background-image: linear-gradient(#044ceb);
    position: relative;
    left: 5px;
    top: -27px;
    font-weight: bold;
    font-size: 20px;
}

#btnEntrar:hover{

    opacity: .9;

}


/* ==========================================================
                ESQUECEU A SENHA
========================================================== */

.RecSenh{

    text-decoration: none;
    color: rgb(79, 79, 249);
    font-size: 14px;
    font-weight: bold;
    position: relative;
    top: -30px;

}

.RecSenh:hover{

    text-decoration: underline;

}


/* ==========================================================
                    OUTROS
========================================================== */

.cadastro{

    margin-top: 10px;
    background: white;
    color: black;

}

.ou{

    margin: 2px;
    padding: 2px;

}
