<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tela</title>
</head>
<body>
      
      <link rel="stylesheet" href="./boasenha.css">

    
        <div><img class="logo" src="../imgs/arco.png" alt="logoArco"></div>
  
<div class="aviso">
  <div class="icone">
    <span>✔</span>
  </div>
  <p class="titulo">senha redefinida com sucesso</p>
  <a href="../login/login.html"><button type="button" id="sign-in">voltar</button></a>
</div>

    <script></script>

</body>
</html>
