<link rel="stylesheet" href="../static/css/CardHeader.css">
<body>
    
    <header id="Header" class="cabecalho">
       
        <div class="divEsquerd">
            
            <button onclick="window.location.href = '../templates/inicioprof.html'">
                <img class="logobtns2" src="../static/icons/Home-b.png" alt="">
                 Inicio 
            </button>
            <button>
                <img class="logobtns" src="../static/icons/SINO-B.png" alt="">
                 Notificações 
            </button>

            <button>
                <img class="logobtns2" src="../static/icons/CALENDARIO-B (2).png" alt="">
                 Horários 
            </button>
            <button>
                <img class="logobtns2" src="../static/icons/ENGRENAGEM-B.png" alt="">
                 Configurações 
            </button>
            <button>
                <img class="logobtns" src="../static/icons/doc-B (2).png" alt="">
                 Relatórios
             </button>
            

        </div>

        <div class="divDireit"> 
            <img src="../static/img/arco.png" alt="Logo" class="logo"> 
        </div>
            

        
      
    </header>

    <script src="../static/js/CardHeader.js"></script>
    
</body>

