<link rel="stylesheet" href="{{ url_for('static', filename='css/cardheader.css') }}">

<header class="cabecalho">
    <div class="divEsquerd">
        <button type="button" data-path="{{ url_for('pages.inicial_page') }}" onclick="window.location.href='{{ url_for('pages.inicial_page') }}'">
            <img class="logobtns" src="{{ url_for('static', filename='icons/Home-b.png') }}" alt="">
            Início
        </button>
        <button type="button" data-path="{{ url_for('pages.notificacoes_page') }}" onclick="window.location.href='{{ url_for('pages.notificacoes_page') }}'">
            <img class="logobtns" src="{{ url_for('static', filename='icons/SINO-B.png') }}" alt="">
            Notificações
        </button>
        <button type="button" data-path="{{ url_for('pages.horario_page') }}" onclick="window.location.href='{{ url_for('pages.horario_page') }}'">
            <img class="logobtns" src="{{ url_for('static', filename='icons/CALENDARIO-B (2).png') }}" alt="">
            Horários
        </button>
        <button type="button" data-path="{{ url_for('pages.config_page') }}" onclick="window.location.href='{{ url_for('pages.config_page') }}'">
            <img class="logobtns" src="{{ url_for('static', filename='icons/ENGRENAGEM-B.png') }}" alt="">
            Configurações
        </button>
        <button type="button" data-path="{{ url_for('pages.relatorio_page') }}" onclick="window.location.href='{{ url_for('pages.relatorio_page') }}'">
            <img class="logobtns" src="{{ url_for('static', filename='icons/doc-B (2).png') }}" alt="">
            Relatórios
        </button>
    </div>
    <div class="divDireit">
        <img src="{{ url_for('static', filename='img/arco.png') }}" alt="Logo" class="logo">
    </div>
</header>

<script src="{{ url_for('static', filename='js/CardHeader.js') }}"></script>
