<div class="card-container">
    <div class="card" onclick="entrarSala()">
        <link rel="stylesheet" href="../static/css/cardprof.css">
        <div class="card-header">
            <h1>3º TDS A</h1>
            <h2>Biologia</h2>
        </div>
        <div class="card-footer">
            <button class="icon-btn" title="Horário" onclick="event.stopPropagation(); verHorario()">
                <img src="../static/img/relogio.png" alt="horário">
            </button>
            <button class="icon-btn" title="Atividades" onclick="event.stopPropagation(); verAtividades()">
                <img src="../static/img/formulario.png" alt="formulário">
            </button>
        </div>
        <script src="../static/js/cardprof.js"></script>
    </div>
</div>