<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="barraesquerda">
        <h1>
            <img src="../static/icons/caixadeentrada-p.png" alt="calendario" class="calendario">
            Hórario
        </h1>
        <h2>
            filtrar por:
        </h2>
        <div class="turma">
            
            <button></button>

        </div>

    </div>
</body>
</html>
<!DOCTYPE html>
<html lang="pt-BR">