<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Icones</title>
    <link rel="stylesheet" href="../static/css/icone.css">
   
</head>
<body>
<div id="icons">

  <img src="../static/icons/capelo-A-1.png" alt="capelo-A (1)" id="capelo-a" data-light="capelo-a" data-dark="capelo-a" class="icon" width="100" height="100">
  <img src="../static/icons/capelo (1).png" alt="capelo" id="capelo" data-light="capelo" data-dark="capelo" class="icon" width="100" height="100">
  <img src="../static/icons/capelo-P (1).png" alt="capelo-P (1)" id="capelo-p" data-light="capelo-p" data-dark="capelo-a" class="icon" width="100" height="100">
  <img src="../static/icons/CHAVE-B.png" alt="CHAVE-B (1)" id="chave-b" data-light="chave-p" data-dark="chave-b" class="icon" width="100" height="100">
  <img src="../static/icons/CHAVE-P.png" alt="CHAVE-P (1)" id="chave-p" data-light="chave-p" data-dark="chave-b" class="icon" width="100" height="100">
  <img src="../static/icons/doc-B (2).png" alt="doc-B (1)" id="doc-b" data-light="doc-p" data-dark="doc-b" class="icon" width="100" height="100">
  <img src="../static/icons/doc-P (3).png" alt="doc-P (2)" id="doc-p" data-light="doc-p" data-dark="doc-b" class="icon" width="100" height="100">
  <img src="../static/icons/ENGRENAGEM-B.png" alt="ENGRENAGEM-B (1)" id="engrenagem-b" data-light="engrenagem-p" data-dark="engrenagem-b" class="icon" width="100" height="100">
  <img src="../static/icons/ENGRENAGEM-P.png" alt="ENGRENAGEM-P (2)" id="engrenagem-p" data-light="engrenagem-p" data-dark="engrenagem-b" class="icon" width="100" height="100">
  <img src="../static/icons/EQP3-B.png" alt="EQP3-B (1)" id="eqp3-b" data-light="eqp3-p" data-dark="eqp3-b" class="icon" width="100" height="100">
  <img src="../static/icons/EQP3-P.png" alt="EQP3-P (2)" id="eqp3-p" data-light="eqp3-p" data-dark="eqp3-b" class="icon" width="100" height="100">
  <img src="../static/icons/GODÊ-B.png" alt="GODÊ-B (1)" id="godê-b" data-light="godê-p" data-dark="godê-b" class="icon" width="100" height="100">
  <img src="../static/icons/GODÊ-P.png" alt="GODÊ-P (1)" id="godê-p" data-light="godê-p" data-dark="godê-b" class="icon" width="100" height="100">
  <img src="../static/icons/mais.png" alt="mais (1)" id="mais" class="icon" data-light="mais" data-dark="mais" width="100" height="100">
<img src="../static/icons/SAIDA-P.png" alt="SAIDA-P (2)" id="saida-p" class="icon" data-light="saida-p" data-dark="saida-b" width="100" height="100">
<img src="../static/icons/SetaBaixo-B.png" alt="SetaBaixo-B (1)" id="seta-baixo-b" data-light="seta-baixo-p" data-dark="seta-baixo-b" class="icon" width="100" height="100">
<img src="../static/icons/SetaBaixo-P.png" alt="SetaBaixo-P (1)" id="seta-baixo-p" class="icon" data-light="seta-baixo-p" data-dark="seta-baixo-b" width="100" height="100">
<img src="../static/icons/SetaCima-B.png" alt="SetaCima-B (1)" id="seta-cima-b" class="icon" data-light="seta-cima-p" data-dark="seta-cima-b" width="100" height="100">
<img src="../static/icons/SetaCima-P.png" alt="SetaCima-P (1)" id="seta-cima-p" class="icon" data-light="seta-cima-p" data-dark="seta-cima-b" width="100" height="100">
<img src="../static/icons/SetaEsquerd-B.png" alt="SetaEsquerda-B (1)" id="seta-esquerda-b" class="icon" data-light="seta-esquerda-p" data-dark="seta-esquerda-b" width="100" height="100">
<img src="../static/icons/SetaEsquerd-P.png" alt="SetaEsquerda-P (1)" id="seta-esquerda-p" class="icon" data-light="seta-esquerda-p" data-dark="seta-esquerda-b" width="100" height="100">
<img src="../static/icons/Sino-P.png" alt="Sino-P (1)" id="sino-p" class="icon" data-light="sino-p" data-dark="sino-b" width="100" height="100">
<img src="../static/icons/X-B.png" alt="X-B (1)" id="X-b" class="icon" data-light="X-p" data-dark="X-b" width="100" height="100">
<img src="../static/icons/X-P.png" alt="X-P (1)" id="X-p" class="icon" data-light="X-p" data-dark="X-b" width="100" height="100">
<img src="../static/icons/alerta-b.png" alt="alerta-b (1)" id="alerta-b" class="icon" data-light="alerta-p" data-dark="alerta-b" width="100" height="100">
<img src="../static/icons/alerta-p.png" alt="alerta-p (1)" id="alerta-p" class="icon" data-light="alerta-p" data-dark="alerta-b" width="100" height="100">
<img src="../static/icons/atualizar-b.png" alt="atualizar-b (1)" id="atualizar-b" class="icon" data-light="atualizar-p" data-dark="atualizar-b" width="100" height="100">
<img src="../static/icons/atualizar-p.png" alt="atualizar-p (1)" id="atualizar-p" class="icon" data-light="atualizar-p" data-dark="atualizar-b" width="100" height="100">
<img src="../static/icons/caixadeentrada-p.png" alt="caixadeentrada-p (1)" id="caixadeentrada-p" class="icon" data-light="caixadeentrada-p" data-dark="caixadeentrada-b" width="100" height="100">
<img src="../static/icons/caixadeentrada-b.png" alt="caixadeentrada-b (1)" id="caixadeentrada-b" class="icon" data-light="caixadeentrada-p" data-dark="caixadeentrada-b" width="100" height="100">
<img src="../static/icons/clipe-b.png" alt="clipe-b (1)" id="clipe-b" class="icon" data-light="clipe-p" data-dark="clipe-b" width="100" height="100">
<img src="../static/icons/clipe-p.png" alt="clipe-p (1)" id="clipe-p" class="icon" data-light="clipe-p" data-dark="clipe-b" width="100" height="100">
<img src="../static/icons/lixeira-b.png" alt="lixeira-b (1)" id="lixeira-b" class="icon" data-light="lixeira-p" data-dark="lixeira-b" width="100" height="100">
<img src="../static/icons/lixeira-p.png" alt="lixeira-p (1)" id="lixeira-p" class="icon" data-light="lixeira-p" data-dark="lixeira-b" width="100" height="100">
<img src="../static/icons/lupa-b.png" alt="lupa-b (1)" id="lupa-b" class="icon" data-light="lupa-p" data-dark="lupa-b" width="100" height="100">
<img src="../static/icons/lupa-p.png" alt="lupa-p (1)" id="lupa-p" class="icon" data-light="lupa-p" data-dark="lupa-b" width="100" height="100">
<img src="../static/icons/pasta.png" alt="pasta (1)" id="pasta" class="icon" data-light="pasta" data-dark="pasta" width="100" height="100">
</div> 

<script src="../js/icones.js"></script>

</body>
</html>