<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ícones</title>

    <link rel="stylesheet" href="../static/css/icone.css">
</head>

<body>

    <div id="icons">

        <!-- CAPELO -->
        <img
            src="../static/icons/capelo-A-1.png"
            alt="Capelo A"
            class="icon"
            data-light="../static/icons/capelo-A-1.png"
            data-dark="../static/icons/capelo-A-1.png"
            width="100"
            height="100"
        >

        <img
            src="../static/icons/capelo-P (1).png"
            alt="Capelo P"
            class="icon"
            data-light="../static/icons/capelo-P (1).png"
            data-dark="../static/icons/capelo-P (1).png"
            width="100"
            height="100"
        >


        <!-- CHAVE -->
        <img
            src="../static/icons/CHAVE-P.png"
            alt="Chave P"
            class="icon"
            data-light="../static/icons/CHAVE-P.png"
            data-dark="../static/icons/CHAVE-B.png"
            width="100"
            height="100"
        >


        <!-- DOCUMENTOS -->
      
        <img
            src="../static/icons/doc-P (3).png"
            alt="Documento P 3"
            class="icon"
            data-light="../static/icons/doc-P (3).png"
            data-dark="../static/icons/doc-B (3).png"
            width="100"
            height="100"
        >


        <!-- CHAVE NOVAMENTE, SE NECESSÁRIO -->
        <img
            src="../static/icons/CHAVE-P.png"
            alt="Chave P"
            class="icon"
            data-light="../static/icons/CHAVE-P.png"
            data-dark="../static/icons/CHAVE-B.png"
            width="100"
            height="100"
        >


        <!-- ENGRENAGEM -->
        <img
            src="../static/icons/ENGRENAGEM-P.png"
            alt="Engrenagem P"
            class="icon"
            data-light="../static/icons/ENGRENAGEM-P.png"
            data-dark="../static/icons/ENGRENAGEM-B.png"
            width="100"
            height="100"
        >


        <!-- EQP3 -->
        <img
            src="../static/icons/EQP3-P.png"
            alt="EQP3 P"
            class="icon"
            data-light="../static/icons/EQP3-P.png"
            data-dark="../static/icons/EQP3-B.png"
            width="100"
            height="100"
        >


        <!-- SINO -->
        <img
            src="../static/icons/SINO-P.png"
            alt="Sino P"
            class="icon"
            data-light="../static/icons/SINO-P.png"
            data-dark="../static/icons/SINO-B.png"
            width="100"
            height="100"
        >


        <!-- X -->
        <img
            src="../static/icons/X-P.png"
            alt="X P"
            class="icon"
            data-light="../static/icons/X-P.png"
            data-dark="../static/icons/X-B.png"
            width="100"
            height="100"
        >


        <!-- ALERTA -->
        <img
            src="../static/icons/alerta-p.png"
            alt="Alerta P"
            class="icon"
            data-light="../static/icons/alerta-p.png"
            data-dark="../static/icons/alerta-b.png"
            width="100"
            height="100"
        >


        <!-- ATUALIZAR -->
        <img
            src="../static/icons/atualizar-p.png"
            alt="Atualizar P"
            class="icon"
            data-light="../static/icons/atualizar-p.png"
            data-dark="../static/icons/atualizar-b.png"
            width="100"
            height="100"
        >


        <!-- CAIXA DE ENTRADA -->
        <img
            src="../static/icons/caixadeentrada-p.png"
            alt="Caixa de entrada P"
            class="icon"
            data-light="../static/icons/caixadeentrada-p.png"
            data-dark="../static/icons/caixadeentrada-b.png"
            width="100"
            height="100"
        >


        <!-- CLIPE -->
        <img
            src="../static/icons/clipe-p.png"
            alt="Clipe P"
            class="icon"
            data-light="../static/icons/clipe-p.png"
            data-dark="../static/icons/clipe-b.png"
            width="100"
            height="100"
        >


        <!-- PASTA -->
        <img
            src="../static/icons/pasta.png"
            alt="Pasta P"
            class="icon"
            data-light="../static/icons/pasta.png"
            data-dark="../static/icons/pasta.png"
            width="100"
            height="100"
        >


        <!-- LIXO -->
        <img
            src="../static/icons/lixo-p.png"
            alt="Lixo P"
            class="icon"
            data-light="../static/icons/lixo-p.png"
            data-dark="../static/icons/lixo-b.png"
            width="100"
            height="100"
        >


        <!-- HOME -->
        <img
            src="../static/icons/home-p.png"
            alt="Home P"
            class="icon"
            data-light="../static/icons/home-p.png"
            data-dark="../static/icons/home-b.png"
            width="100"
            height="100"
        >

    </div>


    <script src="../static/js/icones.js"></script>

</body>

</html>