<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicial Professor</title>


    <link rel="icon" href="../static/icons/capelo-A-1.png" type="image/png">
    
    <link rel="stylesheet" href="../static/css/inicioprof.css">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/CardHeader.css') }}">
    
</head>
<body>


    <header>    

        {% include 'CardHeader.html' %}
    </header>


    <div class="container">
        <!-- <div class="faixazul">
            <img src="../static/img/arco.png" alt="Logo" class="logo"> 
            <div class="funcionalidades">

            </div> 
        </div> -->

        










        <div class="conteudo">
        <div class="titulo">
            <img src="../static/icons/EQP3-P.png" alt="logoturma" class="grupoP">
            <h1>Minhas turmas</h1>
        </div>
        <div class="salas">

        </div>
        </div>
    </div>
</body>
</html>