<!DOCTYPE html>
<html lang="pt-br">

<head>

    <!-- ==================================================
                        CONFIGURAÇÕES
    =================================================== -->

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>Login</title>

    <link
        rel="stylesheet"
        href="../static/css/login.css"></link>

    <link
        rel="shortcut icon"
        href="../static/img/capelo.png"
        type="image/x-icon"></link>

</head>

<body>

    <!-- ==================================================
                        CONTAINER
    =================================================== -->

    <div class="containerkxa">

        <!-- =============================================
                            LOGO
        ============================================== -->

        <div class="divlogo">

            <img
                class="logo"
                src="../static/img/arco.png"
                alt="Logo ARCO">

        </div>


        <!-- =============================================
                        CAIXA DE LOGIN
        ============================================== -->

        <nav class="cxB">

            <h1>

                Bem-vindo ao ARCO!

            </h1>

            <p class="p1">

                Realize seu login

            </p>


            <!-- Campo de Email -->

            <input
                type="text"
                id="email"
                placeholder="Email">


            <!-- Campo de Senha -->

            <input
                type="password"
                id="senha"
                placeholder="Senha">


            <!-- Botões -->

            <div class="botoeslinha">

                <button id="btnEntrar">

                    Entrar

                </button>

                <a
                    href="../rec.senha/recsenha.html"
                    class="RecSenh">

                    Esqueceu sua senha?

                </a>
            </div>
        </nav>
    </div>


    <!-- ==================================================
                        JAVASCRIPT
    =================================================== -->

    <script src="login.js"></script>

</body>

</html>
