<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title id="titulo"></title>
    <link rel="icon" href="../static/icons/capelo-A-1.png" type="image/png">
    <link rel="stylesheet" href="../static/css/inicioprof.css">
</head>
<body>
    <link rel="stylesheet" href="../static/css/CardHeader.css">
<body>
    
    <nav class="cabecalho">
       
        <div class="divEsquerd">
            
            <button>
                <img class="logobtns2" src="../static/icons/capelo (1).png" alt="">
                 Inicio 
            </button>
            <button>
                <img class="logobtns" src="../static/icons/SINO-B.png" alt="">
                 Notificações 
            </button>

            <button>
                <img class="logobtns2" src="../static/icons/CALENDARIO-B (2).png" alt="">
                 Horários 
            </button>
            <button>
                <img class="logobtns2" src="../static/icons/ENGRENAGEM-B.png" alt="">
                 Configurações 
            </button>
            <button>
                <img class="logobtns" src="../static/icons/doc-B (2).png" alt="">
                 Relatórios
             </button>
            

        </div>

        <div class="divDireit"> 
            <img src="../static/img/arco.png" alt="Logo" class="logo"> 
        </div>
            

        
      
    </nav>

    <main class=" conteudo ">
        
    </main>

    <script src="../static/js/CardHeader.js"></script>
    
</body>


</body>
</html>