<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Nova Senha </title>
    <link rel="icon" href="{{ url_for('static', filename='icons/capelo-A-1.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nvsenha.css') }}">
</head>
<body>
    <div class="fundologin">
        <div class="divilogo">
            <img src="{{ url_for('static', filename='img/arco.png') }}" alt="Logo do ARCO" class="logo">
        </div>
        <main class="divimeio">
            <div class="caixabranca">
                <h1>
                    Falta pouco
                </h1>
                <h2>
                    vamos refazer sua senha
                </h2>

                <label for="senhanova">Nova Senha</label>
                <input type="password" placeholder="Nova Senha" class="novasenha" id="senhanova">
                <label for="confirmasenha">Confirme a Senha</label>
                <input type="password" placeholder="Confirme a Senha" class="entradasenha" id="confirmasenha">

                <ul class="lista-requisitos">
                    <li id="req-min">mínimo 8 dígitos</li>
                    <li id="req-maiuscula">uma letra maiúscula</li>
                    <li id="req-simbolo">um símbolo (ex.: #@!)</li>
                    <li id="req-max">máximo 25 dígitos</li>
                    <li id="req-minuscula">uma letra minúscula</li>
                    <li id="req-numero">um número</li>
                </ul>

                <div class="botoes">
                    <button class="botaovoltar" id="btnVoltar"> VOLTAR </button>
                    <button class="botaoproximo" id="btnProximo" disabled> PROXIMO </button>
                </div>
            </div>
        </main>
        <div class="divibaixo">

        </div>
    </div>
    <script src="{{ url_for('static', filename='js/nvsenha.js') }}"></script>
</body>
</html>
