<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <!-- ==================================================
                        CONFIGURAÇÕES
    =================================================== -->

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>ARCO - Recuperação de Senha</title>

    <link rel="stylesheet"
          href="/App/static/css/recsenha.css">

    <link rel="shortcut icon"
          href="/App/static/img/capelo.png"
          type="image/x-icon">

</head>

<body>

    <!-- ==================================================
                            CONTAINER
    =================================================== -->

    <div class="container">

        <!-- ==============================================
                            LOGO
        =============================================== -->

        <div class="divLogo">

            <img
                src="/App/static/img/arco.png"
                alt="Logo ARCO"
                class="logo">

        </div>


        <!-- ==============================================
                        CAIXA PRINCIPAL
        =============================================== -->

        <main class="caixaRecuperacao">

            <h1>

                Vamos recuperar sua senha!

            </h1>


            <p class="texto">

                Enviamos um código de verificação para:

            </p>


            <p class="email">

                ********@gmail.com

            </p>


            <label for="codigo">

                Digite o código:

            </label>


            <input
                type="text"
                id="codigo"
                placeholder="Digite o código">


            <p class="textoCodigo">

                Código não chegou?

            </p>


            <button
                class="btnReenviar"
                id="btnReenviar">

                Reenviar código

            </button>


            <!-- ==========================================
                            BOTÕES
            =========================================== -->

            <div class="botoes">

                <button
                    id="btnVoltar"
                    class="btnVoltar">

                    Voltar

                </button>


                <button
                    id="btnProximo"
                    class="btnProximo">

                    Próximo

                </button>

            </div>

        </main>

    </div>

    <script src="/App/static/js/recsenha.js"></script>

</body>

</html>
