<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Login </title>
    <link rel="icon" href="../static/icons/capelo-A-1.png" type="image/png">
    <link rel="stylesheet" href="../static/css/sucessosenha.css">
</head>
<body>
    <div class="fundologin">
        <div class="divilogo">
            <img src="../static/img/arco.png" alt="Logo do ARCO" class="logo">
        </div>
        <main class="divimeio">
            
            <div class="caixabranca">
                <div class="icone-sucesso">
                    <span class="check">✓</span>
                </div>
                <h1>
                   Senha alterada com sucesso!
                </h1>
                <div class="botoes">
                <button class="botaovoltar"> VOLTAR </button>

                
            </div>
        </main>
        <div class="divibaixo">

        </div>
    </div>
    <script src="../static/js/novasenha.js"></script>
</body>
</html>
